<table>
    <tr>
        <td>
            <img src="/assets/numbers/number{{value}}.jpg" alt="numbers">
        </td>
        <td>
            <button (click)="incr(1)">
                Up
            </button>
            <br>
            <button (click)="incr(-1)">
                Down
            </button>
            <br>
            < (click)="negative()">
                Negative
            </opton>
            <br>
            <button (click)="pressed()">
                Select
            </button>
        </td>
    </tr>
</table>